<p>user-component works!</p>
<div>
    <h2 *ngIf ="errors || message">{{errors?errors.error.exceptionMessage:null}} {{message?message:null}}</h2>
    <input #wallet2 [value]="wallet?wallet:'cagnotte'" type="text">
    <button  *ngIf="isValid"  (click)="submitWallet(wallet2.value)">valider</button>
</div>
<table>
    <tr>
        <td>PRENOM</td>
        <td>NOM</td>
        <td>CAGNOTTE</td>
    </tr>
    <tr *ngFor="let user Of users">
        <td>{{ user.name }}</td>
        <td>{{ user.firstname }}</td>
        <td #wallet>{{ user.wallet }}</td>
        <input hidden type="text" #userId [value]="user.id"/>
        <button (click)="editUser(wallet.innerText, userId.value)">editer</button>
    </tr>
</table>
